---
title: My Work
layout:default
---
<h1>Projects</h1>

<div class="project">
  {% for project in site.work %}
      <h2>{{ project.name }}</h2>
      <h3>{{ project.type }}</h3>
      <h4>{{ project.description }}</4>
      <p>{{ project.excerpt }}</p>

    <!--match images-->
    {% assign filtered_media = site.data.mediafiles | where:"project", project.name %}
      {% for media in filtered_media %}
        {% if media.mediafiles != 404 %}
        <ul>
            {% if media.path %}<li><img src="{{ site.portfolio-path}}/{{ media.path }}" alt="{{media.title}}" /></li>{% endif %}
        </ul>
        {% endif %}
    {% endfor %}
    <!--//match images-->
  {% endfor %}

</div>
