<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header" {% if page.layout == "landing" %} class="alt style2 three-cols"{% endif %}{% if page.layout == "home" %} class="alt three-cols"{% endif %}>
	<a href="{{ "" | relative_url }}/" class="logo"><img src="{{ site.baseurl }}/assets/images/pds-08.png" alt="" /><strong class="dontshow">{{ site.title }}</strong> <span  class="dontshow"> {{ site.subtitle }}</span></a>

		<h1 class="pagetitle major"><span>{{ page.title }}</span></h1>

	<nav>
		<a href="#menu"></a>
	</nav>
</header>




<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | relative_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit lined thin">return to page</a></li>
	</ul>
</nav>
