---
---



@import "main";




h1{
  font-family: 'Cabin Sketch', cursive;
  font-weight:bold;
}

h2, h3{
  font-family: 'Cabin Sketch', cursive;
  font-weight:normal;
}

.titles, .actions a, label{
  font-family: 'Patrick Hand SC', cursive;
}

#header{

  height:auto;
  &:after{
    background-color: _palette(fg-bold);
  }
}


#banner{
  background-image:url(https://res.cloudinary.com/cheekybrazilian/image/upload/v1549141443/maverick-ux/header.jpg);

}





//unique classes

.dontshow{
  display:none!important;
}
//markdown styles

.medialist{
  padding:0;
  columns: 3 auto;
  border-bottom:1px solid red;
  list-style-type: none;
  justify-content:space-around;

  border-bottom:1px solid red;
  padding-bottom:4em;

  li{
    padding-left:0;
    display:block;
  }

  img {
    max-width: 100%;
  }

  @include breakpoint(medium) {
    columns:2;
    border-color:green;


  }

  @include breakpoint(small) {
    columns:1;
    border-color:pink;

    img{
      min-width:100%;
    }

  }
}
