---
---



@import "main";




h1{
  font-family: 'Cabin Sketch', cursive;
  font-weight:normal;
  font-size:2.5em;
}

h2, h3{
  font-family: 'Cabin Sketch', cursive;
  font-weight:normal;
}

.titles, .actions a, label, ul.menu{
  font-family: 'Patrick Hand SC', cursive;
}

#header{

  height:auto;
  &:after{
    background-color: _palette(fg-bold);
  }
}







//unique classes

.dontshow{
  display:none!important;
}
//markdown styles

.medialist{
  padding:0;
  columns: 3 auto;
  border-bottom:1px solid red;
  list-style-type: none;
  justify-content:space-around;

  border-bottom:1px solid red;
  padding-bottom:4em;

  li{
    padding-left:0;
    display:block;
  }

  img {
    max-width: 100%;
  }

  @include breakpoint(medium) {
    columns:2;
    border-color:green;


  }

  @include breakpoint(small) {
    columns:1;
    border-color:pink;

    img{
      min-width:100%;
    }

  }
}


//columns

.row {
  display:flex;
  flex-wrap: wrap;
  background-color: yellow;
  justify-content: space-between;
  width: 100%;

}

.column {
  display:flex;
  min-width: 40%;
}

.logo{

}


#header{

  @include breakpoint(medium) {



    .burger{

      height:32px;
      width:100%;

      a {
        width: 100%;

        &:before, &:after {
          left:50%;
        }
      }
    }

    .logo{
      img{
      }
    }


  }

  @include breakpoint(small) {

    .burger{
      height:32px;
      width:100%;

      a {
        width: 100%;

        &:before, &:after {
          left:50%;
        }
      }


    }

  }

  @include breakpoint(xsmall) {

    .burger{
      height:32px;
      width:100%;

      a {
        &:before, &:after {
          left:50%;
        }
      }


    }

  }

}


  h1.pagetitle{
    height:inherit;
    vertical-align: middle;
    text-align:center;
    color: _palette(black);
    font-weight:bold;
    font-size: 3em;

    span{
      display: block;
      vertical-align: middle;
    }
  }

  .reveal{
    h1{
      color: _palette(black);
    }

    nav{

      &[href="#menu"] {



        &:before, &:after {
          border:1px solid blue;
          background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" viewBox="0 0 24 32" preserveAspectRatio="none"><style>line { stroke-width: 2px; stroke:#{_palette(black)}; }</style><line x1="0" y1="11" x2="24" y2="11" /><line x1="0" y1="21" x2="24" y2="21" /><line x1="0" y1="16" x2="24" y2="16" /></svg>')!important;

        }
      }
    }
  }
