---
---



@import "main";


h1, h2, h3, h3 , .titles, .actions a{
  font-family: 'Cabin Sketch', cursive;
}

h1, h2 , h3{
  font-weight: bold;
}


#banner{
  background-image:url(https://res.cloudinary.com/cheekybrazilian/image/upload/v1549141443/maverick-ux/header.jpg);
}
